extends layout

block content
    .container
        div= copy
        form#actions(enctype='application/x-www-form-urlencoded')
            .input-field
                textarea.materialize-textarea#description(name='description', placeholder='description')
            br
            select#category_id(name='category_id')
                option(value='')
                    | Choose category
                each category, i in categories
                    option(value=category.id) #{category.value}
            br
            select#impact(name='impact')
                option(value='')
                    | Choose Impact
                each b, i in eventImpact
                    option(value=b.id) #{b.value}
            br
    
            label(for='points') Score
            
            input(type='range', name='points', id='score', min='-10', max='10', step='1', onInput='outputUpdate(value)', onChange='outputUpdate(value)')

            br
            output#points(for='score')
            
            br
            br
            
            input.btn(type='button', value='post')
