doctype html
html
    head
        meta(type='utf-8')
        meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
        link(rel='canonical', href= path)
        style(amp-custom)= style
        include ./noscript.jade
        
        title= title
        
        // facebook cards
        meta(name='og:title', content= title)
        meta(name='og:description', content='description')
        meta(name='og:url', content= path)
        meta(name='og:type', content='article')
        meta(name='og:image', content='image')
        meta(name='og:site_name', content='Complex')
        meta(name='fb:app_id', content='838303496251851')
        
        // twitter cards
        meta(name='twitter:title', content= title)
        meta(name='twitter:description', content='description')
        meta(name='twitter:url', content= path)
        meta(name='twitter:card', content='summary')
        meta(name='twitter:image', content='image')
        meta(name='twitter:site:id', content='13049362')

        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
        
        script(type='application+ld+json')!= JSON.stringify(schema)  
        
    body
        block content
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js') 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js') 
        script(src='/public/js/lib.js')
        

            
        
