extends layout

block content
    .container
        div= copy
        form#register(enctype='application/x-www-form-urlencoded')
            .input-field
                input.materialize-input#name(name='name', placeholder='yourname')
            .input-field
                input.materialize-input#email(name='email', placeholder='email')
    
            br
            br
            
            input.btn#register_now(type='button', value='post')
